{% extends "base.html" %}
{% block page_content %}
{% if user.is_authenticated %}
<h1>User</h1>
<hr>
<h2><strong>{{ user.username }}</strong></h2>
<br>
<h3>First Name: {{ user.first_name }}</h3>
<h3>Last Name: {{ user.last_name }}</h3>
<h3>E-mail: {{ user.email }}</h3>
<h3>Created: {{ user.date_joined }}</h3>
<hr>
<a href="{% url 'home' %}">Back to home</a>
{% else %}
<hr>
You must <a href="{% url 'login' %}">Login</a> to see this page. Back to <a href="{% url 'home' %}">home</a>.
{% endif %}
{% endblock %}