{% extends "base.html" %}
{% block page_content %}
{% if user.is_authenticated %}
<br>
<h1>User: <strong>{{ user.username }}</strong></h1>
<hr>
<br>

<div class="card">
    <div class="card-body">
      <h5 class="card-title">First Name</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ user.first_name }}</h6>
      <hr>
      <h5 class="card-title">Last Name</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ user.last_name }}</h6>
      <hr>
      <h5 class="card-title">E-Mail</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ user.email }}</h6>
      <hr>
      <h5 class="card-title">Created</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ user.date_joined }}</h6>
      <hr>
      <h5 class="card-title">Password</h5>
      <p class="card-text">For security reasons we won't show your password</p>
      <a href="{% url 'users:password_reset' %}" class="card-link">Reset password</a>
      <a href="{% url 'users:password_change' %}" class="card-link">Change Password</a>
    </div>
</div>

<hr>
<a href="{% url 'home' %}">Back to home</a>
<br>
<br>
{% else %}
<br>
You must <a href="{% url 'users:login' %}">Login</a> to see this page. Back to <a href="{% url 'home' %}">home</a>.
<br>
<br>
{% endif %}
{% endblock %}