{% extends "base.html" %}
{% block page_content %}
<br>
<h1>Bank Accounts</h1>
<h2>Details</h2>
<hr>
<div class="card" style="width: 25rem;">
    <div class="card-body">
      <h5 class="card-title">Account number</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ bankaccount.account_number }}</h6>
      <hr>
      <h5 class="card-title">Balance</h5>
      <h6 class="card-subtitle mb-2 text-muted">${{ bankaccount.balance }}</h6>
      <hr>
      <h5 class="card-title">Currency</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ bankaccount.currency }}</h6>
      <hr>
      <h5 class="card-title">Bank</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ bankaccount.bank }}</h6>
      <hr>
      <h5 class="card-title">Created On</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ bankaccount.created_on }}</h6>
      <hr>
      <a href="delete/" class = "btn btn-primary">Delete</a>
      <a href="movements/" class = "btn btn-primary">Movements</a></ul>
    </div>
</div>
<hr>

<!-- <h3>Receipt:</h3>
<ul>Type: {{ receipt.transactiontype }}</ul>
<ul>Amount: ${{ receipt.amount }}</ul>
<ul>Date: {{ receipt.created_on }}</ul>
<ul>Receipt ID: {{ receipt.id }}</ul>
<hr> -->

<a href="{% url 'bankaccounts_index' %}">Back to Bank Accounts</a>
<br>
<br>
{% endblock %}