.carousel-caption {
  color:#666;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.carousel-caption a{
  color:#1d1c1c;
  text-decoration: none;
}

.carousel-caption a:hover{
  color:#696767;
  transition: 1s;
}

.carousel-caption h3 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.carousel-caption p {
  font-size: 1.5em;
  margin-bottom: 1em;
}

nav a {
  font-size: 18px;
  text-decoration: none;
  color: #666;
}

nav a:hover {
  color: #ffffff;
  transition: 1s;
}

footer {
  padding: 20px 10px;
  background-color: #f8f9fa;
  text-align: center;
}

footer p {
  color: #666;
}

footer h6 {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
}

footer a {
  color: #666;
  text-decoration: none;
}

footer a:hover {
  color: #ffffff;
  transition: 0.5s;
}

