

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"><strong>EasyBank</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users_index' %}">User</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'bankaccounts_index' %}">Bank Accounts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'transactions_index' %}">Transactions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
            <li class="nav-item">
              <p>{{ user.username }}</p>
            </li>
            </li>
          </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block page_content %} {% endblock %}
</div>

<hr>

<footer>
    <center><h6>©EasyBank - 2022</h6>
    <a href="mailto:facuzavaleta89@gmail.com">E-Mail</a> |
    <a href="https://github.com/facuzavaleta">GitHub</a> |
    <a href="https://www.linkedin.com/in/facuzavaleta89/">Linkedin</a></center>
</footer>
